:root {
  --main: aqua;
}

h2,
.submit {
  letter-spacing: 3px;
}
h2 .main {
  text-decoration: none;
  color: var(--main);
}
.search-input {
  outline: none;
  width: 100%;
  /* font-size:1.2rem; */
  border: 1px solid transparent;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
}
.search-input:focus {
  border: 1px solid var(--main);
  color: var(--main);
  background-color: transparent;
}
::-webkit-input:active {
  background-color: var(--main);
}
.submit {
  outline: none;
  font-size: 15px;
  /* width:100%; */
  border: 2px solid transparent;
  background-color: var(--main);
  border-radius: 7px;
  transition: all 0.3s ease-in-out;
}
.submit:hover {
  background-color: transparent;
  border: 2px solid var(--main);
  color: var(--main);
}
.border-one {
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery {
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  row-gap: 2rem;
  column-gap: 3rem;
  transition: all 0.3s ease-in-out;
}
/* //auto-fill in place or repeat */
.gallery-img {
  background-color: aquamarine;
  transition: all 0.3s ease-in-out;
  border-radius: 7px;
  border: 2px solid var(--main);
}
.gallery img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  object-fit: cover;
  border-radius: 7px;
}
.img-container {
  height: 300px;
  position: relative;
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 7px;
}

.img-container img {
  display: none;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 7px;
}

/* Loader Spinner */
.loader {
  width: 40px;
  height: 40px;
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-top: 5px solid var(--main);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
